.corpo{
    background:cadetblue;
    display: grid;
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: 80% 20%;    
    grid-template-rows: 100px 20px ;
}

.cabecalho{
    background: linear-gradient(white, black);
    grid-area: cabecalho;
    display: block;
}

.conteudo{
   background: maroon;
    
}

.rodape{
    background: mediumaquamarine;
}