.app {
    background: #f1f1f1;
    display:grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: /*trabalhar com grid precisar informar os conteudos, section, div etc*/
        "cabecalho"
        "conteudo"
        "rodape";/*devem ser respeitado as ordens*/
    grid-template-columns:auto; /*definicao das colunas*/
    grid-template-rows: 50px auto auto; /* as propridades das linhas que tera cada m dos itens, nesse caso fazend os epaçamentos*/
    
}

.cabecalho {
    background: #f1f1f1;
    grid-area: cabecalho; /*informa que esse elemento(area) adquirar as propriedades, sendo mais especifico*/
    display: flex;
    padding: 0 2rem;
    align-items: center;
}
 
.conteudo {
    background: whitesmoke;
    grid-area: conteudo; /*informa que esse elemento adquirar as propriedades, sendo mais especifico*/
}

.rodape {
    background: #f1f1f1;
    grid-area: rodape;
    text-align: center;
    padding: 2rem;
   
}

